{% load static %}

<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="theme-color" content="#111111">
        <title> New Site</title>
        <link rel="preload" href="fonts/MullerRegular.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="stylesheet" href="css/vendor.css">
        <link rel="stylesheet" href="css/main.css">
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
      />
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
      
        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
      
      </head>
      
<body>

{% block main-content %}
{% endblock main-content %}




    
</body>

</html>