{% load static %}
<div id="sidebar-filter" class="sidebar">
    <div class="wrap">
      <a href="#0" class="close-trigger" close-button>
        <i class="ri-close-line"></i>
      </a>
      <div class="sidebar-content">
        <div class="sidebar-title">Фильтр</div>
        <div class="widget">
          <div class="summary">
            <input type="checkbox" name="cats" id="aaa">
            <label for="aaa">
              <span>Size</span>
              <i class="ri-arrow-down-s-line"></i>
            </label>
            <div class="accord product-size">
              <div class="wrap">
                <button>S</button>
                <button>M</button>
                <button>L</button>
                <button>XL</button>
                <button>XXL</button>

              </div>
            </div>
          </div>
        </div>
        <div class="widget">
          <div class="summary">
            <input type="checkbox" name="cats" id="aab" >
            <label for="aab">
              <span>Colors</span>
              <i class="ri-arrow-down-s-line"></i>
            </label>
            <div class="accord product-color">
              <div class="wrap">
                <button class='tosca'></button>
                <button class='brown'></button>
                <button class='ocena'></button>

              </div>
            </div>
          </div>
        </div>
        <div class="widget">
          <div class="summary">
            <input type="checkbox" name="cats" id="aac" >
            <label for="aac">
              <span>Categories</span>
              <i class="ri-arrow-down-s-line"></i>
            </label>
            <div class="accord list-block scrollto">
              <ul class="wrapper initial">
                  {% for cat in categories %}
                <li><a href="{% url 'store:category_product' cat.cid%}">{{cat.title}}</a></li>
                {% endfor %}
               

              </ul>
            </div>
          </div>
        </div>
        <div class="widget">
          <div class="summary">
            <input type="checkbox" name="cats" id="aad" >
            <label for="aad">
              <span>Brands</span>
              <i class="ri-arrow-down-s-line"></i>
            </label>
            <div class="accord list-block scrollto">
              <ul class="wrapper initial checkbox"> 
                <ul>
                    
                  {% for brand in brands %}
          
                <li class="ctegory_filter_checkbox" style="display: flex; margin-left: -25px;">
                  <input class="form-check-input filter-checkbox" type="checkbox" name="checkbox" value="{{ brand.id }}" data-filter="brand" style="display: block; width: 15px; height: 15px; ">
                  <a href="{% url 'store:brands_product_list' brand.bid %}" style="pointer-events:none; padding: 0px 10px">{{brand.title}}</a>
                </li>
                {% endfor %}
            

              </ul>
            </div>
          </div>
        </div>
        
        <form action="{% url 'store:json_filter' %}" method="get" name="filter">
            <div class="widget">
                <div class="summary">
                  <input type="checkbox"  id="aad" checked>
                  <label for="aad">
                    <span>Бренды</span>
                    <i class="ri-arrow-down-s-line"></i>
                  </label>
                  <div class="accord list-block scrollto">
                    <ul class="wrapper initial checkbox"> 
                      <ul>
                        {% for brand in brands %}
                
                      <li class="ctegory_filter_checkbox" style="display: flex; margin-left: -25px;">
                        <input class="form-check-input filter-checkbox" type="checkbox" name="brand" value="{{ brand.id }}" style="display: block; width: 15px; height: 15px; ">
                        <a href="" style="pointer-events:none; transition:unset; transform:unset; padding: 0px 10px">{{brand.title}}</a>
                      
                     
                      </li>
                      {% endfor %}
                  
      
                    </ul>
                  </div>
                </div>
              </div>  
            <div class="widget">
                <div class="summary">
                <input type="checkbox"id="aad" checked>
                <label for="aad">
                    <span>Категории</span>
                    <i class="ri-arrow-down-s-line"></i>
                </label>
                <div class="accord list-block scrollto">
                    <ul class="wrapper initial checkbox"> 
                    <ul>
                        {% for category in categories %}
                
                    <li class="ctegory_filter_checkbox" style="display: flex; margin-left: -25px;">
                        <input class="form-check-input filter-checkbox" type="checkbox" name="category" value="{{ category.id }}"  style="display: block; width: 15px; height: 15px; ">
                        <a href="" style="pointer-events:none; transition:unset; transform:unset; padding: 0px 10px">{{category.title}}</a>
            
                    </li>
                    {% endfor %}
                
    
                    </ul>
                </div>
                </div>
            </div> 
           

 
            <button type="submit" class="btn btn-primary w-100 fw-bold">Найти</button>
            
            
        </form>
        <div class="widget">
          <div class="summary">
            <label><span>Price</span></label>
            <div class="range-track">
              <input type="range" value="25" min="0" max="500" step="1">
            </div>
            <div class="price-range grey-color">
              <span>₽ 40</span>
              <span>₽ 400</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>