{% load static %}
<div class="fromblog">
  <div class="container wide">
    <div class="wrap">
      <div class="heading">
        <h2 class="title">Блог</h2>
      </div>
      <div class="dotgrid scrollto">
        <div class="wrapper">
          <div class="item">
            <div class="dot-image">
              <div class="thumbnail hover">
                <a href="">
                  <img src="{% static 'assets/img/blog_01.jpg' %}" alt="" />
                </a>
              </div>
            </div>
            <div class="dot-info">
              <a href="">Zolla</a>
              <h3 class="dot-title">
                <a href="">В чем отличия между комбинезонами?</a>
              </h3>
            </div>
          </div>
          <div class="item">
            <div class="dot-image">
              <div class="thumbnail hover">
                <a href="">
                  <img src="{% static 'assets/img/blog_02.jpg' %}" alt="" />
                </a>
              </div>
            </div>
            <div class="dot-info">
              <a href="">Befree</a>
              <h3 class="dot-title">
                <a href="">Как ухаживать за комбинезоном с начесом?</a>
              </h3>
            </div>
          </div>
          <div class="item">
            <div class="dot-image">
              <div class="thumbnail hover">
                <a href="">
                  <img src="{% static 'assets/img/blog_03.jpg' %}" alt="" />
                </a>
              </div>
            </div>
            <div class="dot-info">
              <a href="">Mango</a>
              <h3 class="dot-title">
                <a href="">Как выбрать размер комбинезона?</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="button"><a href="" class="secondary-btn">Читать все </a></div>
    </div>
  </div>
</div>
