{% load static %}

<div class="carousel">
  <div class="container">
    <div class="wrap">
      <div class="heading">
        <h2 class="title">Новинки</h2>
      </div>
      <div class="inner-wrapper">
        <div class="dotgrid carouselbox swiper">
          <div class="wrapper swiper-wrapper">
            <div class="item swiper-slide">
              <div class="dot-image">
                <a href="" class="product-permalink"></a>
                <div class="thumbnai">
                  <img src="{% static 'assets/img/product_01.jpg' %}" alt="" />
                </div>
                <div class="thumbnail hover">
                  <img src="{% static 'assets/img/product_01b.jpg' %}" alt="" />
                </div>
                <div class="actions">
                  <ul>
                    <li>
                      <a href=""><i class="ri-star-line"></i></a>
                    </li>
                    <li>
                      <a href=""><i class="ri-arrow-left-right-line"></i></a>
                    </li>
                    <li>
                      <a href=""><i class="ri-eye-line"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="label"><span>-25%</span></div>
              </div>
              <div class="dot-info">
                <h2 class="dot-title">
                  <a href="">Свитер женский оверсайз кофта</a>
                </h2>
                <div class="product-price">
                  <span class="before">₽ 7000.00</span>
                  <span class="current">₽ 3000.00</span>
                </div>
              </div>
            </div>

            <div class="item swiper-slide">
              <div class="dot-image">
                <a href="" class="product-permalink"></a>
                <div class="thumbnai">
                  <img src="{% static 'assets/img/product_02.jpg' %}" alt="" />
                </div>
                <div class="thumbnail hover">
                  <img
                    src="{% static 'assets/img/product_02b.jpg ' %}"
                    alt=""
                  />
                </div>
                <div class="actions">
                  <ul>
                    <li>
                      <a href=""><i class="ri-star-line"></i></a>
                    </li>
                    <li>
                      <a href=""><i class="ri-arrow-left-right-line"></i></a>
                    </li>
                    <li>
                      <a href=""><i class="ri-eye-line"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="label"><span>-25%</span></div>
              </div>
              <div class="dot-info">
                <h2 class="dot-title">
                  <a href="">Свитер женский оверсайз кофта</a>
                </h2>
                <div class="product-price">
                  <span class="before">₽ 7000.00</span>
                  <span class="current">₽ 3000.00</span>
                </div>
              </div>
            </div>
            <div class="item swiper-slide">
              <div class="dot-image">
                <a href="" class="product-permalink"></a>
                <div class="thumbnai">
                  <img src="{% static 'assets/img/product_03.jpg' %}" alt="" />
                </div>
                <div class="thumbnail hover">
                  <img src="{% static 'assets/img/product_03b.jpg' %}" alt="" />
                </div>
                <div class="actions">
                  <ul>
                    <li>
                      <a href=""><i class="ri-star-line"></i></a>
                    </li>
                    <li>
                      <a href=""><i class="ri-arrow-left-right-line"></i></a>
                    </li>
                    <li>
                      <a href=""><i class="ri-eye-line"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="label"><span>-25%</span></div>
              </div>
              <div class="dot-info">
                <h2 class="dot-title">
                  <a href="">Свитер женский оверсайз кофта</a>
                </h2>
                <div class="product-price">
                  <span class="before">₽ 7000.00</span>
                  <span class="current">₽ 3000.00</span>
                </div>
              </div>
            </div>
            <div class="item swiper-slide">
              <div class="dot-image">
                <a href="" class="product-permalink"></a>
                <div class="thumbnai">
                  <img src="{% static 'assets/img/product_08.jpg' %}" alt="" />
                </div>
                <div class="thumbnail hover">
                  <img src="{% static 'assets/img/product_08b.jpg' %}" alt="" />
                </div>
                <div class="actions">
                  <ul>
                    <li>
                      <a href=""><i class="ri-star-line"></i></a>
                    </li>
                    <li>
                      <a href=""><i class="ri-arrow-left-right-line"></i></a>
                    </li>
                    <li>
                      <a href=""><i class="ri-eye-line"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="label"><span>-25%</span></div>
              </div>
              <div class="dot-info">
                <h2 class="dot-title">
                  <a href="">Свитер женский оверсайз кофта</a>
                </h2>
                <div class="product-price">
                  <span class="before">₽ 7000.00</span>
                  <span class="current">₽ 3000.00</span>
                </div>
              </div>
            </div>

            <div class="item swiper-slide">
              <div class="dot-image">
                <a href="" class="product-permalink"></a>
                <div class="thumbnai">
                  <img src="{% static 'assets/img/product_01.jpg' %}" alt="" />
                </div>
                <div class="thumbnail hover">
                  <img src="{% static 'assets/img/product_01b.jpg' %}" alt="" />
                </div>
                <div class="actions">
                  <ul>
                    <li>
                      <a href=""><i class="ri-star-line"></i></a>
                    </li>
                    <li>
                      <a href=""><i class="ri-arrow-left-right-line"></i></a>
                    </li>
                    <li>
                      <a href=""><i class="ri-eye-line"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="label"><span>-25%</span></div>
              </div>
              <div class="dot-info">
                <h2 class="dot-title">
                  <a href="">Свитер женский оверсайз кофта</a>
                </h2>
                <div class="product-price">
                  <span class="before">₽ 7000.00</span>
                  <span class="current">₽ 3000.00</span>
                </div>
              </div>
            </div>

            <div class="item swiper-slide">
              <div class="dot-image">
                <a href="" class="product-permalink"></a>
                <div class="thumbnai">
                  <img src="{% static 'assets/img/product_02.jpg' %}" alt="" />
                </div>
                <div class="thumbnail hover">
                  <img src="{% static 'assets/img/product_02b.jpg' %}" alt="" />
                </div>
                <div class="actions">
                  <ul>
                    <li>
                      <a href=""><i class="ri-star-line"></i></a>
                    </li>
                    <li>
                      <a href=""><i class="ri-arrow-left-right-line"></i></a>
                    </li>
                    <li>
                      <a href=""><i class="ri-eye-line"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="label"><span>-25%</span></div>
              </div>
              <div class="dot-info">
                <h2 class="dot-title">
                  <a href="">Свитер женский оверсайз кофта</a>
                </h2>
                <div class="product-price">
                  <span class="before">₽ 7000.00</span>
                  <span class="current">₽ 3000.00</span>
                </div>
              </div>
            </div>
            <div class="item swiper-slide">
              <div class="dot-image">
                <a href="" class="product-permalink"></a>
                <div class="thumbnai">
                  <img src="{% static 'assets/img/product_03.jpg' %}" alt="" />
                </div>
                <div class="thumbnail hover">
                  <img src="{% static 'assets/img/product_03b.jpg' %}" alt="" />
                </div>
                <div class="actions">
                  <ul>
                    <li>
                      <a href=""><i class="ri-star-line"></i></a>
                    </li>
                    <li>
                      <a href=""><i class="ri-arrow-left-right-line"></i></a>
                    </li>
                    <li>
                      <a href=""><i class="ri-eye-line"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="label"><span>-25%</span></div>
              </div>
              <div class="dot-info">
                <h2 class="dot-title">
                  <a href="">Свитер женский оверсайз кофта</a>
                </h2>
                <div class="product-price">
                  <span class="before">₽ 7000.00</span>
                  <span class="current">₽ 3000.00</span>
                </div>
              </div>
            </div>
            <div class="item swiper-slide">
              <div class="dot-image">
                <a href="" class="product-permalink"></a>
                <div class="thumbnai">
                  <img src="{% static 'assets/img/product_08.jpg' %}" alt="" />
                </div>
                <div class="thumbnail hover">
                  <img src="{% static 'assets/img/product_08b.jpg' %}" alt="" />
                </div>
                <div class="actions">
                  <ul>
                    <li>
                      <a href=""><i class="ri-star-line"></i></a>
                    </li>
                    <li>
                      <a href=""><i class="ri-arrow-left-right-line"></i></a>
                    </li>
                    <li>
                      <a href=""><i class="ri-eye-line"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="label"><span>-25%</span></div>
              </div>
              <div class="dot-info">
                <h2 class="dot-title">
                  <a href="">Свитер женский оверсайз кофта</a>
                </h2>
                <div class="product-price">
                  <span class="before">₽ 7000.00</span>
                  <span class="current">₽ 3000.00</span>
                </div>
              </div>
            </div>
          </div>

          <div class="nav">
            <div class="swiper-button-next">
              <i class="ri-arrow-right-line"></i>
            </div>
            <div class="swiper-button-prev">
              <i class="ri-arrow-left-line"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
