{% load static %}
<div id="data-cart" class="cart-menu" >
    <div class="wrap">
      <a href="#0" class="close-trigger" close-button><i class="ri-close-line"></i></a>
      <div class="scrollto cart-outer">
        <div class="wrapper">
          <div class="cart-list">
            <div class="wrapper">
              <div class="cart-header">
                <h3>Корзина</h3>
              </div>
              <div class="cart-body scrollto">
                <div class="product-list">
                  <div class="wrapper">
                    <ul>
                      <li>
                        <div class="grouping">
                          <div class="quantity">
                            <div class="control">
                              <button>-</button>
                              <input type="text" value="1">
                              <button>+</button>
                            </div>
                          </div>
                          <div class="thumbnail">
                            <a href="">
                              <img src="{% static '/assets/product-images/6.jpg' %}" alt="">
                            </a>
                          </div>
                        </div>
                        <div class="variants">
                          <h4 class="dot-title"><a href="">Свитер шерстяной </a></h4>
                          <div class="color gray-color">
                            <span>Цвет:</span>
                            <span>Серый</span>
                          </div>
                          <div class="size gray-color">
                            <span>Размер:</span>
                            <span>L</span>
                          </div>
                          <div class="price">₽4500</div>
                          <a href="" class="item-remove">
                            <i class="ri-close-line"></i>
                          </a>
                        </div>
                      </li>
                      <li>
                        <div class="grouping">
                          <div class="quantity">
                            <div class="control">
                              <button>-</button>
                              <input type="text" value="1">
                              <button>+</button>
                            </div>
                          </div>
                          <div class="thumbnail">
                            <a href="">
                              <img src="{% static '/assets/product-images/2.jpg' %}" alt="">
                            </a>
                          </div>
                        </div>
                        <div class="variants">
                          <h4 class="dot-title"><a href="">Свитер шерстяной </a></h4>
                          <div class="color gray-color">
                            <span>Цвет:</span>
                            <span>Серый</span>
                          </div>
                          <div class="size gray-color">
                            <span>Размер:</span>
                            <span>L</span>
                          </div>
                          <div class="price">₽4500</div>
                          <a href="" class="item-remove">
                            <i class="ri-close-line"></i>
                          </a>
                        </div>
                      </li>
                      <li>
                        <div class="grouping">
                          <div class="quantity">
                            <div class="control">
                              <button>-</button>
                              <input type="text" value="1">
                              <button>+</button>
                            </div>
                          </div>
                          <div class="thumbnail">
                            <a href="">
                              <img src="{% static '/assets/product-images/5_2.jpg' %}" alt="">
                            </a>
                          </div>
                        </div>
                        <div class="variants">
                          <h4 class="dot-title"><a href="">Свитер шерстяной </a></h4>
                          <div class="color gray-color">
                            <span>Цвет:</span>
                            <span>Серый</span>
                          </div>
                          <div class="size gray-color">
                            <span>Размер:</span>
                            <span>L</span>
                          </div>
                          <div class="price">₽4500</div>
                          <a href="" class="item-remove">
                            <i class="ri-close-line"></i>
                          </a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="cart-footer">
                  <div class="discount">
                    <form action="">
                      <input type="text" class="input" placeholder="Купон">
                      <input type="submit" class="submit" value="Отправить">
                    </form>
                  </div>
                  <div class="math-pricing">
                    <ul>
                      <li><span>Итого:</span>
                        <span class="value"></span>
                      </li>
                      <ul>
                        <li>
                          <span>Доставка</span>
                        </li>
                        <li>
                          <div><input type="radio" class="checker" name="shipping">
                          <label for="">Бесплатно</label>
                        </div>
                        <span class="value">₽  0.00</span>
                        </li>
                        <li>
                          <div><input type="radio" class="checker" name="shipping">
                          <label for="">До дверей</label>
                        </div>
                        <span class="value">₽  424.00</span>
                        </li>
                      </ul>
                      <li>
                        <span>Промо скидка</span>
                        <span class="value">₽ -0.00</span>
                      </li>
                      <li class="total">
                        <span>Всего:</span>
                        <span class="value">₽ 3040.00</span>
                      </li>
                    </ul>
                  </div>
                  <div class="button">
                    <a href="" class="secondary-btn">Оформить</a>
                    <a href="" class="grey-link">В корзину</a>
                  </div>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>