<div class="overlay" data-overlay></div>
  
<div id="data-share" class="data-popup d-share">
  <div class="wrap">
    <div class="data-content">
      <a href="" class="close-trigger i ri-close-line" close-button></a>
      <div class="form">
      <label> Копировать ссылку</label>
      <input type="text" disabled value="https://youtu.be/p8vEWKEuJMw">
      <span><i class="ri-file-copy-line"></i></span>
    </div>

    <div class="media-share list-inline">
      <label> Поделиться ссылкой</label>
      <ul>
        <li><a href="" class="i ri-facebook-line"></a></li>
        <li><a href="" class="i ri-instagram-line"></a></li>
        <li><a href="" class="i ri-youtube-line"></a></li>
        <li><a href="" class="i ri-whatsapp-line"></a></li>

      </ul>
    </div>
  </div>
</div>
</div>