<footer>
    <div class="inner-footer">
    <div class="container">
      <div class="wrap">
        <div class="top">
          <div class="subscribe">
            <h3>Подписаться на новинки</h3>
            <p class="grey-color">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, sapiente.</p>
            <form action="" class="search">
              <i class="ri-mail-line"></i>
              <input type="text" class="input"  placeholder="Введите ваш Email" name="" id="">
              <input type="submit" class="submit">
              <i class="ri-arrow-right-line"></i>
            </form>
          </div>
          <div class="list-block">
            <h3 class="dot-title">
              Поддержка
            </h3>
            <ul>
              <li><a href="">О компании</a></li>
              <li><a href="">Доставка</a></li>
              <li><a href="">Оплата</a></li>
              <li><a href="">Контакты</a></li>
              <li><a href="">Возврат</a></li>
            </ul>
          </div>
          <div class="list-block">
            <h3 class="dot-title">
              Информация
            </h3>
            <ul>
              <li><a href="">О нас</a></li>
              <li><a href="">Контакты</a></li>
              <li><a href="">Сертификаты</a></li>
              <li><a href="">Обратная связь</a></li>
              <li><a href="">Блог</a></li>
            </ul>
          </div>
  
          <div class="list-block">
            <h3 class="dot-title">
              Контакты
            </h3>
            <div class="comp-adress grey-color">
              <p>426000, г. Москва а/я 10153</p>
              <p>
              <a href="">8 800 777-68-93</a>
              <br>
              <a href="">info@mail.ru</a>
            </p>
            <p>
              с 8:00 до 20:00 (МСК)
            </p>
  
            </div>
  
          </div>
  
        </div>
        <div class="bottom">
          <div class="list-inline">
            <ul>
              <li><a href=""><i class="ri-facebook-line"></i></a></li>
              <li><a href=""><i class="ri-instagram-line"></i></a></li>
              <li><a href=""><i class="ri-twitter-line"></i></a></li>
              <li><a href=""><i class="ri-telegramm-line"></i></a></li>
            </ul>
          </div>
          <div class="copyright">
            <p>2023. All rights reserved</p>
          </div>
  
      </div>
    </div>
  
  
  
  
  
  </footer>