{% load static %}

<div class="guide">
  <div class="container">
    <div class="wrap">
      <div class="heading">
        <h2 class="title">Акции</h2>
      </div>
      <div class="dotgrid scrollto">
        <div class="wrapper">
          <div class="item">
            <div class="dot-image">
              <div class="thumbnail hover">
                <img src="{% static 'assets/img/guide_01.png' %}" alt="" />
              </div>
            </div>
            <div class="dot-info">
              <h3 class="dot-title">Акция #1</h3>
              <p class="grey-color">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod
                tempora accusamus sunt?
              </p>
            </div>
          </div>
          <div class="item">
            <div class="dot-image">
              <div class="thumbnail hover">
                <img src="{% static 'assets/img/guide_02.png' %}" alt="" />
              </div>
            </div>
            <div class="dot-info">
              <h3 class="dot-title">Акция #1</h3>
              <p class="grey-color">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod
                tempora accusamus sunt?
              </p>
            </div>
          </div>
          <div class="item">
            <div class="dot-image">
              <div class="thumbnail hover">
                <img src="{% static 'assets/img/guide_03.png' %}" alt="" />
              </div>
            </div>
            <div class="dot-info">
              <h3 class="dot-title">Акция #1</h3>
              <p class="grey-color">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod
                tempora accusamus sunt?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
