{% load static %}
<header>
    <div class="inner-header">
      <div class="container wide">
        <div class="wrap">
          <div class="header-left">
            <div class="menu-bar">
              <a href="#0" class="menu-trigger" trigger-button data-target="mobile-menu">
                <svg class="menu-line">
                  <use xlink:href="{% static 'assets/img/sprite.svg'%}#menu-line"></use>
                </svg>
              </a>
            </div>
            <div class="list-inline">
              <ul>
                {% if user.is_authenticated %}
                <li>
                  <a href="">{{user.username}}</a>   
                </li>
                {% else %}
              
                <li>
                  <a href="{% url 'userauth:sing-in' %}" >
                    {% comment %} <a href="#0" trigger-button data-target="data-login"> {% endcomment %}
                    <i class="ri-user-line"></i>
                  </a>
                </li>
                {% endif %}
                <li>
                  <a href="">
                    <span class="item-floating">7</span>
                    <i class="ri-star-line"></i>
                  </a></li>
              </ul>
            </div>
  
          </div>
          <div class="header-center">
            <nav class="menu">
              <ul>
                <li><a href="/"><span>Главная</span></a></li>
                <li><a href="/products/">
                    <span>Каталог</span>
                    <i class="ri-arrow-down-s-line"></i>
                  </a>
                  <ul class="sub-mega" style="position: absolute;">
                    <li>
                      <div class="container">
                        <div class="wrapper">
                          <div class="mega-content">
                            <div class="dotgrid">
                              <div class="wrapper">
                                {% for product in cat_related_products %}
                                <div class="item">
                                  <div class="dot-image">
                                    <a href="" class="product-permalink"></a>
                                    <div class="thumbnai">
                                      <img src="{{ product.image.url }}" alt="">
                                    </div>
                                    <div class="thumbnail hover">
                                      <img src="{{ product.image.url }}" alt="">
                                    </div>
                                    <div class="actions">
                                      <ul>
                                        <li><a href=""><i class="ri-star-line"></i></a></li>
                                        <li><a href=""><i class="ri-arrow-left-right-line"></i></a></li>
                                        <li><a href=""><i class="ri-eye-line"></i></a></li>
                                      </ul>
                                    </div>
                                    {% comment %} <div class="label"><span>-25%</span></div> {% endcomment %}
                                  </div>
                                  <div class="dot-info">
                                    <h2 class="dot-title"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h2>
                                    <div class="product-price">
                                      <span class="before">₽ {{ product.old_price }}</span>
                                      <span class="current">₽ {{ product.price }}</span>
                                    </div>
                                  </div>
                                </div>
                                {% endfor %}
                             
                              </div>
                            </div>
                            <div class="links">
                              <div class="list-block">
                                <h3 class="dot-title">Категории {{categories.count}}</h3>
                                <ul >
                                  {% for cat in categories %}
                                  
                                  <li>
                                    <a href="{% url 'store:category_product' cat.cid %}">{{ cat.title }} ({{cat.category.count}})
                                     
                                    </a>
                                  </li>
                                  {% endfor %}
  
                                  </ul>
                            </div>
                             
                            <div class="list-block">
                                <h3 class="dot-title">Бренды</h3>
                                  <ul>
                                    {% for brand in brands %}                
                                    <li>
                                      <a href="{% url 'store:brands_product_list' brand.bid %}">{{ brand.title }}                 
                                      </a>
                                    </li>
                                  {% endfor %}
                                   
                                  </ul>
                            </div>
                           
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
              <ul>
  
                <li>
                  <a href="">
                    <span>Бренды</span>
                    <i class="ri-arrow-down-s-line"></i>
                  </a>
                  <ul class="sub-menu list-block">
                    {% for brand in brands %}                
                    <li>
                      <a href="{% url 'store:brands_product_list' brand.bid %}">{{ brand.title }}                 
                      </a>
                    </li>
                  {% endfor %}
                    
                  </ul>
                </li>
                {% comment %} <li><a href=""><span>Контакты</span></a></li> {% endcomment %}
                {% if user.is_authenticated %}
                <li>
                  <a href="">
                    <span>Профиль</span>
                    <i class="ri-arrow-down-s-line"></i>
                  </a>
                  <ul class="sub-menu list-block">
                    {% comment %} <li><a href="">Профиль</a></li> {% endcomment %}
                    <li><a href="{% url 'userauth:sing-out' %}">Выйти</a></li>
                  
                  </ul>
                </li>
                {%endif%} 

                
              </ul>
            </nav>
            <div class="branding"><a href="/">.Store</a></div>
          </div>
          <div class="header-right">
            <div class="list-inline">
              <ul>
                <li><a href="#0" trigger-button data-target="search-float"><i class="ri-search-line"></i></a></li>
                <li><a href=""><span class="item-floating">0</span><i class="ri-shopping-bag-line"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="search-float" class="search-float">
        <div class="container wide">
          <form action="{% url 'store:search' %}" class="search" method="get" >
            <i class="ri-search-line"></i>
            <input type="search" class="input" id="" placeholder="Поиск.." name="q" >
            <i class="ri-close-line" close-button></i>
          </form>
        </div>
      </div>
    </div>
    {% comment %} <div class="container">
      <div class="wrap">
        <div class="breadcrumb list-inline">
          <ul>
            <li>
              <a href="/">Главная</a>
            </li>
            <li>
              <a href="/">Каталог</a>
            </li>
            <li>
              <a href="#">Свитеры</a>
            </li>
            <!-- <li>
              <a href="/"><span>Свитер вязаный оверсайз с горлом объемный</span></a>
            </li> -->
          </ul>
        </div>
      </div>
    </div> {% endcomment %}
    <div id="mobile-menu" class="mobile-menu">
      <div class="wrap">
        <a href="" class="close-trigger" close-button>
          <i class="ri-close-line"></i>
        </a>
        <div class="main-menu scrollto" >
          <nav class="wrapper">
            <ul>
              <li><a href=""><span>Главная</span></a></li>
              <li class="has-child">
                <a href="#0">
                  <span>Каталог</span>
                <span class="child-trigger"><i class="ri-arrow-down-s-line"></i></span>
              </a >
             
            <ul class="sub-menu list-block">
              {% for c in categories %}
                                  
              <li>
                <a href="{% url 'store:category_product' c.cid %}">{{ c.title }} ({{c.category.count}})
                                     
                </a>
              </li>
            {% endfor %}
              {% comment %} <li><a href="">Блузки и рубашки</a></li>
              <li><a href="">Брюки</a></li>
              <li><a href="">Верхняя одежда</a></li>
              <li><a href="">Комбинезоны</a></li>
              <li><a href="">Костюмы</a></li>
              <li><a href="">Лонгсливы</a></li>
              <li><a href="">Пиджаки, жилеты и жакеты</a></li>
              <li><a href="">Платья и сарафаны</a></li>
              <li><a href="">Толстовки, свитшоты и худи</a></li>
              <li><a href="">Туники</a></li>
              <li><a href="">Джемперы, водолазки и кардиганы</a></li>
              <li><a href="">Блузки и рубашки</a></li>
              <li><a href="">Брюки</a></li>
              <li><a href="">Верхняя одежда</a></li>
              <li><a href="">Комбинезоны</a></li>
              <li><a href="">Костюмы</a></li>
              <li><a href="">Лонгсливы</a></li>
              <li><a href="">Пиджаки, жилеты и жакеты</a></li>
              <li><a href="">Платья и сарафаны</a></li>
              <li><a href="">Толстовки, свитшоты и худи</a></li>
              <li><a href="">Туники</a></li>
              <li><a href="">Джемперы, водолазки и кардиганы</a></li>
              <li><a href="">Блузки и рубашки</a></li>
              <li><a href="">Брюки</a></li>
              <li><a href="">Верхняя одежда</a></li>
              <li><a href="">Комбинезоны</a></li>
              <li><a href="">Костюмы</a></li>
              <li><a href="">Лонгсливы</a></li>
              <li><a href="">Пиджаки, жилеты и жакеты</a></li>
              <li><a href="">Платья и сарафаны</a></li>
              <li><a href="">Толстовки, свитшоты и худи</a></li>
              <li><a href="">Туники</a></li>
              <li><a href="">Джемперы, водолазки и кардиганы</a></li> {% endcomment %}
            </ul>
            </li>
              <li class="has-child"><a href="#0"><span>Бренды</span>
                <span class="child-trigger"><i class="ri-arrow-down-s-line"></i></span>
              </a>
              <ul class="sub-menu list-block">
                {% for brand in brands %}
                                  
                <li>
                  <a href="{% url 'store:brands_product_list' brand.bid %}">{{ brand.title }} 
                                       
                  </a>
                </li>
              {% endfor %}
              <li><a href="">Mango</a></li>
              <li><a href="">Zolla</a></li>
              <li><a href="">Befree</a></li>
              <li><a href="">Zarina</a></li>
              <li><a href="">Sela</a></li>
              <li><a href="">Looks</a></li>
              <li><a href="">Afati</a></li>
            </ul>
            </li>
              <li><a href=""><span>Распродажа</span></a></li>
              <li><a href=""><span>Контакты</span></a></li>
            </ul>
          </nav>
          <div class="button">
          {% if not user.is_authenticated %}
          <a href="{% url 'userauth:sing-in' %}" class="primary-btn">Войти</a>
          <a href="{% url 'userauth:sing-up' %}" class="primary-btn">Регистраци</a>
          {% else %}
          <a href="{% url 'userauth:sing-out' %}" class="primary-btn">Выйти</a>
          {% endif %}


        </div>
        </div>
      </div>
    </div>
  </header>