<div id="data-question" class="data-popup data-question">
    <div class="wrap">
      <div class="data-content">
      <a href="#0" class="close-trigger i ri-close-line" close-button></a>
      <h3>Задать вопрос</h3>
      <form action="">
        <div><input type="text" placeholder="Имя"></div>
        <div><input type="text" placeholder="Email"></div>
        <div><textarea placeholder="Ваш вопрос..." cols="30" rows="5"></textarea></div>
        <div class="button">
          <button type="submit" class="secondary-btn">Отправить</button>
        </div>
  
      </form>
    </div>
    </div>
  </div>