<div id="data-review" class="data-popup d-review">
    <div class="wrap">
      <div class="data-content">
      <a href="#0" class="close-trigger i ri-close-line" close-button></a>
      <h3>Напишите комментарий</h3>
      <form method="POST" action="{% url 'store:add_review' product.pid %}" id="commnetForm">
        {% csrf_token %}
        {% comment %} <div class="dotgrid">
          <div class="wrapper">
            <div><input type="text" placeholder="Имя"></div>
          <div><input type="text" placeholder="Email"></div>
          </div>
        </div>
        <div class="rating">
          <span>Ваша оценка:</span>
          <div class="stars">
            <input type="radio" name="rating" id="star5">
            <label for="star5"> <i class="ri-star-fill"></i></label>
            <input type="radio" name="rating" id="star4">
            <label for="star4"> <i class="ri-star-fill"></i></label>
            <input type="radio" name="rating" id="star3">
            <label for="star3"> <i class="ri-star-fill"></i></label>
            <input type="radio" name="rating" id="star2">
            <label for="star2"> <i class="ri-star-fill"></i></label>
            <input type="radio" name="rating" id="star1">
            <label for="star1"> <i class="ri-star-fill"></i></label>
          </div>
        </div>
        <div><input type="text" placeholder="Заголовок"></div>
        <div><textarea placeholder="Ваш комментарий..." cols="30" rows="5"></textarea></div>
        <div class="button">
          <button type="submit" class="secondary-btn">Отправить</button>
        </div> {% endcomment %}
        

        <div class="rating">
          <span>Ваша оценка:</span>
          <div class="stars">
            {{review_form.rating}}
           
          </div>
        </div>
        <strong class="text-success" id='review-response'></strong>
        
        <div>{{review_form.review}}</div>
        <div class="button">
          <button type="submit" class="secondary-btn">Отправить</button>
        </div>
  
      </form>
    </div>
    </div>
  </div>