
{% load static %}
<div class="slider">
    <div class="sliderbox swiper">
  
      <div class="wrap swiper-wrapper">
        <div class="item swiper-slide">
          <div class="image">
            <div class="ob-cover">
              <img src="{% static 'assets/img/slider_01.jpg' %}" alt="">
            </div>
            <div class="title-info">
              <div class="container wide">
                <div class="wrap">
                  <span class="price"> 30% </span>
                  <h3 class="title">Лови момент</h3>
                  <div class="button">
                    <a href="" class="primary-btn">Посмотреть</a>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        </div>
        <div class="item swiper-slide">
          <div class="image">
            <div class="ob-cover">
              <img src="{% static 'assets/img/slider_02.jpg' %}" alt="">
            </div>
            <div class="title-info">
              <div class="container wide">
                <div class="wrap">
                  <span class="price"> 50% </span>
                  <h3 class="title">Финальные скидки</h3>
                  <div class="button">
                    <a href="" class="primary-btn">Посмотреть</a>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        </div>
        <div class="item swiper-slide">
          <div class="image">
            <div class="ob-cover">
              <img src="{% static 'assets/img/slider_03.jpg' %}" alt="">
            </div>
            <div class="title-info">
              <div class="container wide">
                <div class="wrap">
                  <span class="price"> 70% </span>
                  <h3 class="title">Только сегодня</h3>
                  <div class="button">
                    <a href="" class="primary-btn">Посмотреть</a>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        </div>
        <div class="costum-pagination">
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
    </div>
  
